<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/DevExpress Style</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="WorkloadTrackingSystemDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;data source=&quot;X:\TOOLROOM\Workload Tracking System\Database\Workload Tracking System DB.accdb&quot;" />
    <add name="SampleAccessConnectionString" connectionString="XpoProvider=MSAccess;Provider=Microsoft.ACE.OLEDB.12.0;data source=&quot;X:\TOOLROOM\Workload Tracking System\Database\Workload Tracking System DB.accdb&quot;;Jet OLEDB:Database Password=;" />
    <add name="LocalWorkloadTrackingSystemDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;data source=&quot;\\s-fs1-smdrv\mydocs$\Joshua.Meservey\Microsoft Access\Tool Room Scheduler Database\Workload Tracking System DB.accdb&quot;" />
    <add name="LocalSqlServerDB" connectionString="Server=.;Database=ToolRoomSchedulerDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="AzureSqlServerDB" connectionString="Server=tcp:jalemy.database.windows.net,1433;Initial Catalog=ToolRoomSchedulerDB;Persist Security Info=False;User ID=jalemy;Password=immanuel7#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="LocalOLEDBSqlServerDB" connectionString="Provider=MSOLEDBSQL;Server=.;Database=ToolRoomSchedulerDB;Integrated Security=SSPI" />
    <add name="SQLServerToolRoomSchedulerDB" connectionString="Data Source=s-db2-smdrv\SQLEXPRESS;Initial Catalog=ToolRoomSchedulerDB;User id=AppUser;Password=Password1*;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>